.button {
    width: 150px;
    @extend %font-primary;
    @include font($size: inherit, $weight: 500, $height: 2.1rem);
    padding: 8px 25px;
    color: $color-primary;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;
    &_bordered {
        border: 1px solid $color-primary;
        &:hover {
            background: linear-gradient(95.34deg, #FCC822 0%, #FFCD2E 100%);
            box-shadow: 0px 10.4502px 23.2228px -6.96683px #FBE18F;
            color: $color-light;
        }
    }
    &_colored {
        background: linear-gradient(95.34deg, #FCC822 0%, #FFCD2E 100%);
        box-shadow: 0px 10.4502px 23.2228px -6.96683px #FBE18F;
        color: $color-light;
        border: 1px solid $color-primary;
        &:hover {
            background: $color-light;
            box-shadow: none;
            border: 1px solid $color-primary;
            color: $color-primary;
        }
    }
    &_wide {
        padding: 10px 25px;
    }
    &_shadow {
        box-shadow: 0px 10.4502px 23.2228px -6.96683px #FBE18F;
    }
    &_inactive {
        background: linear-gradient(95.34deg, #D1D1D1 0%, #D1D1D1 100%);
        box-shadow: 0px 5.80569px 23.2228px -6.96683px #D1D1D1;
        color: #333333;
    }
}

.link-button {
    color: $color-primary;
    >span:nth-child(1) {
        margin-right: 5px;
    }
}