html {
    box-sizing: border-box;
    font-size: 10px;
    @include media-tablet {
        font-size: 9px;
    }
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    @extend %font-secondary;
    font-size: 1.8rem;
    color: $color-text;
    &.locked {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

h1 {
    @include font($size: 4.4rem, $weight: 500, $height: 5rem);
    color: $color-secondary;
    @include media-mobile-small {
        font-size: 3.0rem;
        line-height: 3.4rem;
    }
}

h3 {
    @include font($size: 3.7rem, $weight: 500, $height: 4.4rem);
    color: $color-secondary;
}