//colors
$color-primary: #fcc822;
$color-secondary: #333333;
$color-header-text: #E0E0E0;
$color-header-border:#ECECE8;
$color-text: rgba(0, 0, 0, 0.61);
$color-light:#ffffff;
//width
$container: 1120px;
$container-padding: 30px;